<ul id="nav">
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to "Admin", admin_path %>
    <% end %>
    <%= link_to "Sign out", destroy_user_session_path %></li>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Sign in", new_user_session_path %>
  <% end -%>
</ul>
