body {
  background-color: #D3D3D3;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

table{ width: 100%; border-collapse: collapse; margin: 1.5em 0; }

th, td{ padding: 7px; line-height: 1.15; border-bottom: 1px solid #dfdfdf; }

th{ font-size: 10px; letter-spacing: 1px; text-transform: uppercase; color: #999; text-align: left; background: #f4f4f4; }

td{ padding: 14px 7px; }

th.highlight,
td.highlight{ background: #ffffbf; font-weight: bold; }

tfoot td{ background: #e2d1e9; font-weight: bold; }

td input{ text-align: center; width: 100%; }

.sortable th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.sortable th .asc {
  background-image: url(/assets/up_arrow.gif);
}

.sortable th .desc {
  background-image: url(/assets/down_arrow.gif);
}

dl {
  margin-bottom:50px;
}

dl dt {
  background:#5f9be3;
  color:#fff;
  float:left;
  font-weight:bold;
  margin-right:10px;
  padding:5px;
  width:130px;
}

dl dd {
  margin:2px 0;
  padding:5px 0;
}
